body {
    width: 1340px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

i {
    font-size: 24px;
}

header {
    margin-bottom: 60px;
}

.navbar {
    margin: 0;
}

.navbar__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 48px;
}

.blockLogo {
    flex: 1;
}

.navbar__menu li {
    list-style: none;
}

.navbar__menuItem--active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    margin-right: 57px;
}


.navbar__menuItem {
    padding: 48px 0 0 0;
}

.navbar__menuItem:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.logo {
    width: 61.09px;
    height: 19px;
}

.container {
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0
}

.searchbar {
    margin: 20px 0;
}

.searchbar__icon {
    margin: 0;
    font-size: 16px;
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.searchbar__icon::before {
    position: relative;
    top: calc(50% - 8px);
}

.searchbar__input {
    height: 39px;
    margin: -4px;
    padding: 4px 0 4px 16px;
    border: 1px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.searchbar__button {
    color: white;
    padding: 17px 16px 15px 16px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: 0;
    cursor: pointer;
}

.searchbar__buttonIcon {
    display: none;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
    margin: 40px 0;
}

.filter button {
    margin-left: 22px;
}

.filter__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.filter__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #0065FC;
    width: 50px;
    height: 50px;

}

.filter__button {
    width: 160px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 15px 0px 5px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    cursor: pointer;
    height: 46px;
    font-weight: bold;
}

.filter__button:hover {
    background-color: #DEEBFF;
}

.indice {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
}

.indice__icon {
    padding: 5px 10px;
    border: 2px solid #F2F2F2;
    border-radius: 147px;
    font-size: 16px;
    color: #0065FC;
}

/**********************************************             Card section                      *****************************************************/

.cardContainer {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}


.cardContainer__house {
    flex: 0 0 880px;
}

.cardContainer__houseTitle {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.cardBlock {
    display: grid;
    grid-template-columns: 33.34% 33.33% 33.33%;
    justify-content: space-around;
}

.card {
    width: 246px;
    height: 199px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-sizing: border-box;
}

.card__img {
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card__title {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0 0px 10px;
}

.card__text {
    font-weight: 400;
    font-size: 14px;
    flex: 1;
    margin: 4px 10px;
}

.card__price {
    font-weight: 600;
}

.stars {
    display: flex;
    align-items: flex-end;
    margin: 1px 0 10px 10px;
}


.cardContainerStyle {
    padding: 40px 40px 0 40px;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-sizing: border-box;
}


/******************************************************             Most Popular section                *********************************************/



.cardContainer__mostPopular {
    flex: 0 0 420px;
}

.cardContainer__mostPopular .card {
    width: 345px;
    height: 144px;
}

.cardContainer__mostPopularTitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.cardBlock.card__column {
    display: block;
}

.cardContainer__mostPopular__icon {
    font-size: 16px;
    float: right;
    color: #0065FC !important;
}

.cardBlock.cardcolumn {
    display: block;
}

.img--left {
    flex-direction: row;
    justify-content: flex-start;
}

.img--left .card__img {
    width: 137px;
    height: 144px;
    border-radius: 10px 0 0 10px;
    margin-right: 0;
}

.img--left .card__title {
    width: 150px;
}

.fa-star {
    font-size: 13px;
    border: 0;
    color: #0065FC;
}

i.fa-sharp.fa-solid.fa-star {
    opacity: 0.2;
}


/******************************************************             Activity  section               *********************************************/

.activityContainer {
    margin: 0 0 60px 0;
}

.activityBlock {
    display: flex;
    justify-content: space-between;
}

.activityContainer__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    margin: 60px 0 20px 0;
    display: block;
    font-weight: bold;
}

.photocard__img {
    height: 390px;
    width: 300px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.photocard {
    width: 300px;
    display: inline-block;
}

.photocard__title {
    font-size: 16px;
    font-weight: 700;
    margin-top: -4px;
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 0 0 30px 30px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}



/******************************************************             Footer  section               *********************************************/



.footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 45px 0 60px 0;
}

.footerItem {
    flex: 1 1 33%;
    padding: 0 50px;
}

.footerItem__title {
    margin-left: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
}

.footerItem li {
    list-style: none;
    margin: 12px 0;
}

.footerItem ul {
    margin: 20px 0;
    padding: 0;
}



/******************************************************             Responsive Tablette               *********************************************/

@media (max-width:1456px) {


    body {
        width: 880px;
        margin: 0 auto;
    }

    .container {
        padding: 0;
    }

    .cardContainer {
        display: block;
    }

    .navbar__menuItem--active {
        border-top: inherit;
    }

    .filter {
        width: 830px;
    }

    .cardContainer__house {
        margin-right: 0;
        width: inherit;
    }

    .cardContainer_textEnd {
        padding-bottom: 45px;
    }

    .card.img--left {
        width: 252px;
        height: 144px;
    }

    .card__title {
        font-size: 14px;
    }

    .cardContainer__mostPopular {
        padding: 35px 40px 0 40px;
        background-color: #F2F2F2;
        border-radius: 15px;
    }

    .cardContainer__mostPopularTitle {
        margin: 0 0 25px 0;
    }

    .img--left .card__img {
        width: 106px;
        height: 144px;
    }

    .img--left .card__title {
        width: 115px;
        margin: 4px 0 4px 7px;
    }

    .img--left .card__text {
        font-size: 13px;
        margin: 4px 0 4px 7px;
    }

    .photocard__img {
        height: 211px;
        width: 182px;
    }

    .photocard {
        width: 182px;
    }

    .cardBlock.card__column {
        display: flex;
        justify-content: space-between;
    }

    .activityContainer__title {
        margin: 60px 0 35px 0;
    }

}


/******************************************************             Responsive Mobile               *********************************************/


@media (max-width: 1040px) {

    i {
        font-size: inherit;
    }


    body {
        max-width: 359px;
    }

    header {
        padding: 0;
    }

    .container {
        padding: 0;
    }

    .navbar__menu {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;

    }

    .navbar__menuItem--active {
        border-top: inherit;
        color: inherit;
    }

    .navbar__menu .blockLogo {
        text-align: center;
        flex: inherit;
        width: 100%;
    }

    .navbar__menu:not(:first-child) {
        flex: 1;
    }

    .navbar__menuItem {
        display: block;
        border-bottom: 4px solid #DEEBFF;
        font-weight: 500;
    }

    .navbar__menuItem:hover {
        border-top: inherit;
        color: inherit;
    }

        .navbar__menuItem--active {
            margin-right: inherit;
        }

    .navbar__menuItem:hover {
        border-bottom: 4px solid #0065FC;
    }

    .navbar__menu li {
        margin: 0;
        flex: 1;
        text-align: center;
    }

    .searchBar-block {
        padding: 0 15px;
    }

    form.searchbar__form {
        margin-top: 35px;
        display: flex;
    }

    .searchbar__buttonIcon {
        display: block;
        position: relative;
        top: calc(50% - 9px);
    }

    .searchbar__buttonText {
        display: none;
    }

    .searchbar__input {
        margin: 0;
    }

    .filter {
        flex-wrap: wrap;
        width: 335px;
        margin: 0 20px;
        justify-content: space-between;
    }

    .filter span {
        margin-left: 0;
    }

    .filter__icon {
        font-size: 16px;
        display: flex;
    }

    .filter__button {
        font-size: 11px;
        margin: 10px 0;
        padding: 0;
    }

    .filter button {
        margin: 15px 0 0 0;
    }

    .filter__title {
        width: 100%;
    }

    .filter:not(:first-child) {
        flex: 1;
    }

    .indice {
        display: flex;
        margin: 35px 0;
        padding-left: 20px;
    }

    .indice__icon {
        padding: 9px 14px;
        margin-right: 5px;
        font-size: 12px;
    }

    .cardContainer {
        display: flex;
        gap: inherit;
        flex-direction: column-reverse;
    }

    .cardContainer__mostPopular {
        flex: inherit;
        padding: 25px 15px 45px 15px;
        border-radius: 0;
    }

    .cardContainer__mostPopular__icon {
        margin-right: 0;
    }

    .cardContainer__mostPopularTitle {
        margin: 0 0 25px 0;
    }

    .cardBlock.card__column {
        display: block;
    }

    .cardBlock.card__column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img--left.card {
        width: 334px;
        margin-bottom: 11px;
    }

    .img--left .card__img {
        width: 137px;
    }

    .cardContainer__house {
        flex: inherit;
        background-color: white;
        border-radius: 0;
        padding: 0 10px;
        margin-bottom: 12px;
    }

    .cardBlock {
        display: flex;
        flex-direction: column;
    }

    .cardContainer__houseTitle {
        margin: 25px 0 20px;
    }

    .cardContainer_textEnd {
        display: none;
    }

    .activityBlock {
        flex-direction: column;
    }

    .photocard {
        padding-bottom: 25px;
    }

    .card {
        width: 335px;
        margin-bottom: 12px;
    }

    .card__img {
        height: 124px;
    }

    .card__title {
        font-size: 16px;
    }

    .activityContainer {
        margin: 0 12px 60px 12px;
    }

    .photocard {
        width: 334px;
        height: 190px;
    }

    .photocard__img {
        width: 334px;
        height: 134px;
    }

    .photocard__title {
        justify-content: inherit;
        padding: 0 20px;
    }

    .footer {
        flex-direction: column;
    }

    .footerItem {
        padding: 0 30px 30px;
    }
}